@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    outline: none;
    letter-spacing: 1px;
}

.container {
    margin: 0 auto;
    max-width: 1080px;
    width: 90%;
}

header {
    margin: 20px 0px;
}

h1 {
    font-size: 48px;
    margin: 24px 0px;
}

section {
    margin: 20px 0px;
}

/* ---------------- refresh -------------- */

.btn {
    padding: 12px;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background-color: aliceblue;
}

/* ---------------- products -------------- */

.sub-title {
    margin: 16px 0px;
    font-size: 28px;
}

.products-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: flex-start;
    gap: 20px;
}

.product-link {
    text-decoration: none;
    border-radius: 16px;
}

.product {
    min-width: 140px;
    border: 1px solid black;
    padding: 16px;
    border-radius: 16px;
    min-height: 320px;
    max-width: 140px;
}

.product img {
    width: 80px;
    margin: 12px auto;
    display: block;
}

.product-title {
    text-align: center;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-price {
    text-align: center;
    color: black;
}